body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

section {
  display: inline-table;
}

thead {
  font-weight: 700;
  color: white;
}

img {
  height: 64px;
  margin: auto;
  display: block;
}

.modifiable:hover {
  background-color: #37638b;
  -moz-box-shadow: 0 0 12px white inset;
  -webkit-box-shadow: 0 0 12px white inset;
  box-shadow: 0 0 12px white inset;
  cursor: pointer;
}

.modifiable:not(:hover) img {
  display: none;
}

.modifiable.set img {
  display: block;
}

#checks {
  margin: 20px;
}

#checks thead {
    background-color: #ed7d31;
    font-size: 18px;
}

#checks td,th {
  padding: 5px;
}

#checks th {
  padding-bottom: 20px;
}

#checks tbody tr {
  background-color: #f8d7cd;
}

#checks tbody tr:nth-child(even) {
  background-color: #fcece8;
}

#checks img {
    height: 40px;
}

#save {
  display: block;
  margin: 10px auto;
}

#mission {
  font-family: Trebuchet MS1, Trebuchet MS, sans-serif;
  color: #3366cc;
  text-align: right;
  font-size: 10px;
  margin-left: 50px;
}

#mission h1 {
  color: black;
  font-size: 20px;
}

#legend {
  margin-top: 30px;
  margin-left: auto;
  border-spacing: 0px;
}

#legend thead {
  background-color: #5b9bd5;
}

#legend thead div:first-child {
    margin-bottom: 24px;
}

#legend th:not(:first-child) {
  border-left: 2px solid white;
  vertical-align: bottom;
}

#legend td {
  border-bottom: 2px solid black;
}

#bar {
  width: 160px;
  border-bottom: 1px solid white;
  position: absolute;
  transform: rotate(28deg);
  margin-top: -33px;
  margin-left: -10px;
}
